body {
    text-align: center;
    background-color: lightgreen;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    display: none;
}

#list{
    width: 300px;
    background-color: lightpink;
}
.groceryList{
    display: flex;
    justify-content: center;
}
img{
    width: 300px;
}
